<a href="https://colab.research.google.com/github/tinawong15/portends-greatness/blob/master/elections.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import os
import pandas as pd

In [65]:
!git clone https://<user>:<password>@github.com/tinawong15/portends-greatness

/bin/bash: user: No such file or directory

In [66]:
!ls portends-greatness

countypres_2000-2016.csv  elections.ipynb  README.md

In [0]:
csv_path = "portends-greatness/countypres_2000-2016.csv"
# csv_path = os.path.join('countypres_2000-2016.csv') 
df = pd.read_csv(csv_path, sep="\t") 
# df

In [0]:
winners = df.sort_values(['year', 'state', 'county', 'candidatevotes'], ascending=(True, True, True, False)).groupby(['year', 'state', 'county']).head(1)

In [0]:
# winners

In [0]:
counties_vote = winners.sort_values(['state', 'county', 'year'], ascending=(True, True, True))
# counties_vote

In [0]:
counties_vote = counties_vote.drop(["FIPS", "version", "office", "state_po"], axis=1)
# counties_vote

In [0]:
counties_vote["location"] = counties_vote['county'].str.cat(counties_vote['state'], sep=" ")

In [0]:
counties_vote = counties_vote.drop(['state', 'county'], axis=1)
# counties_vote

In [0]:
# counties_vote['order'] = counties_vote.apply(lambda row: (row.year - 2000)//4, axis = 1)

In [0]:
# counties_vote

In [0]:
new_counties_vote = counties_vote.copy()
# new_counties_vote

In [0]:
new_counties_vote["next_vote"] = new_counties_vote.groupby('location')["party"].shift(-1)
# new_counties_vote

In [0]:
new_counties_vote["no_swing"] = new_counties_vote["next_vote"] == new_counties_vote["party"]
# new_counties_vote

In [79]:
swing = new_counties_vote.groupby('location')['no_swing'].apply(lambda x: (x == False).sum()).reset_index(name='count')
swing['swinginess'] = (swing['count'] - 1) / 4
swing = swing.drop(["count"], axis=1)
# swing[swing['location'] == 'Autauga Alabama']
swing.sort_values(['swinginess'], ascending=(True))

                      location  swinginess
0     Abbeville South Carolina        0.00
1667               Lewis Idaho        0.00
1668            Lewis Kentucky        0.00
1669            Lewis Missouri        0.00
1670            Lewis New York        0.00
2731          Sullivan Indiana        0.00
1672          Lewis Washington        0.00
1673       Lewis West Virginia        0.00
1675  Lexington South Carolina        0.00
1676        Lexington Virginia        0.00
1677           Liberty Florida        0.00
1678           Liberty Georgia        0.00
1679           Liberty Montana        0.00
1680             Liberty Texas        0.00
1681              Licking Ohio        0.00
1682         Limestone Alabama        0.00
1666              Levy Florida        0.00
1683           Limestone Texas        0.00
2732         Sullivan Missouri        0.00
1663                Leon Texas        0.00
1647               Lee Georgia        0.00
1648              Lee Illinois        0.00
2736        Sullivan Tennessee        0.00
1650              Lee Kentucky        0.00
1651           Lee Mississippi        0.00
1652        Lee North Carolina        0.00
1653        Lee South Carolina        0.00
1654                 Lee Texas        0.00
1655              Lee Virginia        0.00
2735     Sullivan Pennsylvania        0.00
...                        ...         ...
512             Clare Michigan        0.75
1268        Henderson Kentucky        0.75
432                 Cedar Iowa        0.75
1125  Granville North Carolina        0.75
456      Chattahoochee Georgia        0.75
1145               Greene Iowa        0.75
1985           Monroe Michigan        0.75
2440         Richmond New York        0.75
348           Calhoun Michigan        0.75
1850     Martin North Carolina        0.75
1805         Manistee Michigan        0.75
1442        Jefferson Missouri        0.75
2211        Panola Mississippi        0.75
2230             Peach Georgia        0.75
477       Chester Pennsylvania        0.75
3092            Winnebago Iowa        0.75
2997    Watauga North Carolina        0.75
962            Flagler Florida        0.75
1342         Huerfano Colorado        0.75
617            Conecuh Alabama        0.75
294          Buchanan Missouri        0.75
2015       Montgomery Virginia        0.75
592          Colfax New Mexico        0.75
2586           Seneca New York        0.75
1376             Iron Michigan        0.75
995          Franklin Kentucky        0.75
1371            Iosco Michigan        0.75
2250             Perry Indiana        0.75
607         Columbia Wisconsin        0.75
2906        Vermillion Indiana        0.75

[3153 rows x 2 columns]