<a href="https://colab.research.google.com/github/tinawong15/portends-greatness/blob/master/elections.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import os
import pandas as pd
import plotly.plotly as py
import plotly.graph_objs as go
import plotly
import matplotlib.pyplot as plt

In [0]:
plotly.tools.set_credentials_file(username='raunakchow', api_key='MBOLCsoeY3lkW4dXsAhC')

In [0]:
!git clone https://raunakchowdhury:<p>@github.com/tinawong15/portends-greatness

In [0]:
!ls portends-greatness

In [0]:
csv_path = "portends-greatness/countypres_2000-2016.csv"
# csv_path = os.path.join('countypres_2000-2016.csv') 
df = pd.read_csv(csv_path, sep="\t") 
# df

In [0]:
winners = df.sort_values(['year', 'state', 'county', 'candidatevotes'], ascending=(True, True, True, False)).groupby(['year', 'state', 'county']).head(1)

In [0]:
# winners

In [0]:
counties_vote = winners.sort_values(['state', 'county', 'year'], ascending=(True, True, True))
# counties_vote

In [0]:
counties_vote = counties_vote.drop(["FIPS", "version", "office", "state_po"], axis=1)
# counties_vote

In [0]:
counties_vote["location"] = counties_vote['county'].str.cat(counties_vote['state'], sep=" ")
second_counties_vote = counties_vote.copy()

In [0]:
counties_vote = counties_vote.drop(['state', 'county'], axis=1)
# counties_vote

In [0]:
# counties_vote['order'] = counties_vote.apply(lambda row: (row.year - 2000)//4, axis = 1)

In [0]:
# counties_vote

In [0]:
new_counties_vote = counties_vote.copy()
# new_counties_vote

In [0]:
new_counties_vote["next_vote"] = new_counties_vote.groupby('location')["party"].shift(-1)
# new_counties_vote

In [0]:
new_counties_vote["no_swing"] = new_counties_vote["next_vote"] == new_counties_vote["party"]
# new_counties_vote

In [0]:
swing = new_counties_vote.groupby('location')['no_swing'].apply(lambda x: (x == False).sum()).reset_index(name='count')
swing['swinginess'] = (swing['count'] - 1) / 4
swing = swing.drop(["count"], axis=1)
# swing[swing['location'] == 'Autauga Alabama']
swing.sort_values(['swinginess'], ascending=(True))

In [0]:
csv_path = "portends-greatness/1976-2016-president.csv"
data = pd.read_csv(csv_path)
data = data.drop(["state_fips", "notes", "state_cen", "state_ic", "writein", "version", "office"], axis=1)
print(data.shape)
states = data[data['year'] >= 2000]
print(states.shape)

In [0]:
state_winners = states.sort_values(['year', 'state', 'candidatevotes'], ascending=(True, True, False)).groupby(['year', 'state']).head(1)
state_winners

In [0]:
states_vote = state_winners.sort_values(['state', 'year'], ascending=(True, True))
states_vote

In [0]:
new_states_vote = states_vote.copy()
new_states_vote["next_vote"] = new_states_vote.groupby('state')["party"].shift(-1)
new_states_vote["no_swing"] = new_states_vote["next_vote"] == new_states_vote["party"]

In [0]:
swing_states = new_states_vote.groupby('state')['no_swing'].apply(lambda x: (x == False).sum()).reset_index(name='count')
swing_states['swinginess'] = (swing_states['count'] - 1) / 4
swing_states = swing_states.drop(["count"], axis=1)
swing_states.sort_values(['swinginess'], ascending=(True))

In [0]:
relevant_states = swing_states[swing_states['swinginess']>0]
relevant_states

In [0]:
all_states = data.sort_values(['year', 'state', 'candidatevotes'], ascending=(True, True, False)).groupby(['year', 'state']).head(1)
all_states

In [0]:
all_states_vote = all_states.copy()
all_states_vote["next_vote"] = all_states_vote.groupby('state')["party"].shift(-1)

In [0]:
all_states_vote

In [0]:
all_states_vote["no_swing"] = all_states_vote["next_vote"] == all_states_vote["party"]

In [0]:
all_swing_states = all_states_vote.groupby(['state','state_po'])['no_swing'].apply(lambda x: (x == False).sum()).reset_index(name='count')
all_swing_states['swinginess'] = (all_swing_states['count'] - 1) / 10
all_swing_states = all_swing_states.drop(["count"], axis=1)
all_swing_states.sort_values(['swinginess'], ascending=(True))

In [0]:
scale = [
    [0.0, 'rgb(242,240,247)'],
    [0.1, 'rgb(218,218,235)'],
    [0.2, 'rgb(188,189,220)'],
    [0.3, 'rgb(158,154,200)'],
    [0.4, 'rgb(117,107,177)'],
    [0.5, 'rgb(84,39,143)']
]

chloro = [go.Choropleth(
    colorscale = scale,
    autocolorscale = False,
    locations = all_swing_states['state_po'],
    z = all_swing_states['swinginess'].astype(float),
    locationmode = 'USA-states',
    # text = df['text'],
    marker = go.choropleth.Marker(
        line = go.choropleth.marker.Line(
            color = 'rgb(255,255,255)',
            width = 2
        )),
    colorbar = go.choropleth.ColorBar(
        title = "Swingibility")
)]

In [0]:
layout = go.Layout(
    title = go.layout.Title(
        text = 'Swinginess by State'
    ),
    geo = go.layout.Geo(
        scope = 'usa',
        projection = go.layout.geo.Projection(type = 'albers usa'),
        showlakes = True,
        lakecolor = 'rgb(255, 255, 255)'),
)

fig = go.Figure(data = chloro, layout = layout)
# py.iplot(fig, filename = 'd3-cloropleth-map')

In [0]:
path = "portends-greatness/1980-2014-Gen-Election-Turnout.csv"
turnout = pd.read_csv(path)
turnout = turnout[turnout['Year'] % 4 == 0]
all_states_vote = all_states_vote[all_states_vote['year'] > 1976]
all_states_vote = all_states_vote[all_states_vote['year'] < 2016]
turnout = turnout.drop([52, 884, 780, 676, 572, 468, 364, 260, 156], axis=0)
turnout = turnout.sort_values(["Year", "Unnamed: 3"], ascending=(True, True))
vep = pd.DataFrame(turnout["Voting-Eligible Population (VEP)"])
vep = vep.reset_index(drop=True)
all_states_vote = all_states_vote.reset_index(drop=True)
all_states_vote = all_states_vote.join(vep)
all_states_vote.rename(columns={'Voting-Eligible Population (VEP)':'vep'}, 
                 inplace=True)
all_states_vote
turnout[turnout["Unnamed: 3"] == "United States"]
vep.shape

In [0]:
all_states_vote['turnout'] = all_states_vote.apply(lambda row: (row.totalvotes / int((row.vep).replace(',' , ''))), axis = 1)
all_states_vote

In [0]:
last_swing_states = all_swing_states.sort_values(['swinginess'], ascending=(True)).tail(5)['state'].tolist()
last_swing_states
non_swing_states = all_swing_states.sort_values(['swinginess'], ascending=(True)).head(5)['state'].tolist()
non_swing_states

years = [i for i in range(1980, 2016, 4)]

In [0]:
# plotted least swinginess states
plt.figure(0)
for state in non_swing_states:
#     print(all_states_vote[all_states_vote['state'] == state]['turnout'])
    plt.plot(years, all_states_vote[all_states_vote['state'] == state]['turnout'], linewidth=2, markersize=12)
    
plt.title("""Turnout of States with the Least "Swinginess" """)
plt.legend(non_swing_states)
plt.xlabel('Year')
plt.ylabel('% Turnout')
plt.show()

In [0]:
# plotted most swinginess states
plt.figure(1)
for state in last_swing_states:
#     print(all_states_vote[all_states_vote['state'] == state]['turnout'])
    plt.plot(years, all_states_vote[all_states_vote['state'] == state]['turnout'], linewidth=2, markersize=12)
    
plt.title("""Turnout of States with the Most "Swinginess" """)
plt.legend(last_swing_states)
plt.xlabel('Year')
plt.ylabel('% Turnout')
plt.show()

In [0]:
path = "portends-greatness/county_population.csv"
county_pop = pd.read_csv(path)
drop_years = [str(i) for i in range(2000, 2009)]
county_pop = county_pop.drop(['areaname'] + drop_years, axis=1)
county_pop.rename(columns={'state_name':'state',
                          'county_name':'county'}, 
                 inplace=True)

In [208]:
def return_county(county):
    """returns the county without extra text like 'city' """
#     print(county, type(county) == float)
    county = str(county).split(' ')
    return ' '.join(list(filter(lambda x: x not in {'County', 'city'}, county)))

county_pop['county_name'] = county_pop.apply(lambda x: return_county(x.county), axis = 1)
print(county_pop['county_name'].shape, county_pop['state'].shape)
county_pop['location'] = county_pop['county_name'].str.cat(counties_vote['state'], sep=' ')
# county_pop.drop('county_name', axis=1)
# location

(3203,) (3203,)

ValueError: ignored

In [0]:
second_counties_vote = second_counties_vote.drop(['candidate', 'party'], axis=1)

In [0]:
# separate into individual totalvotes
counties = pd.DataFrame(second_counties_vote.groupby(['location','state', 'county'])['totalvotes'].max()).reset_index(['location','state', 'county'])
# counties

In [183]:
county_pop.join(counties)

,"state['state', 'county']","county['state', 'county']",2009,total_pop,location,state,county,totalvotes
0,Alabama,Alabama,4708708.0,4040389.0,Abbeville South Carolina,South Carolina,Abbeville,11001.0
1,Alaska,Alaska,698473.0,550043.0,Acadia Louisiana,Louisiana,Acadia,27389.0
2,Arizona,Arizona,6595778.0,3665339.0,Accomack Virginia,Virginia,Accomack,16051.0
3,Arkansas,Arkansas,2889450.0,2350624.0,Ada Idaho,Idaho,Ada,195669.0
4,California,California,36961664.0,29811427.0,Adair Iowa,Iowa,Adair,4278.0
5,Colorado,Colorado,5024748.0,3294473.0,Adair Kentucky,Kentucky,Adair,8233.0
6,Connecticut,Connecticut,3518288.0,3287116.0,Adair Missouri,Missouri,Adair,11871.0
7,Delaware,Delaware,885122.0,666168.0,Adair Oklahoma,Oklahoma,Adair,6690.0
8,District of Columbia,District of Columbia,599657.0,606900.0,Adams Colorado,Colorado,Adams,193665.0
9,Florida,Florida,18537969.0,12938071.0,Adams Idaho,Idaho,Adams,2320.0
10,Georgia,Georgia,9829211.0,6478149.0,Adams Illinois,Illinois,Adams,31951.0
11,Hawaii,Hawaii,1295178.0,1108229.0,Adams Indiana,Indiana,Adams,13513.0
12,Idaho,Idaho,1545801.0,1006734.0,Adams Iowa,Iowa,Adams,2325.0
13,Illinois,Illinois,12910409.0,11430602.0,Adams Mississippi,Mississippi,Adams,15696.0
14,Indiana,Indiana,6423113.0,5544156.0,Adams Nebraska,Nebraska,Adams,13513.0
15,Iowa,Iowa,3007856.0,2776831.0,Adams North Dakota,North Dakota,Adams,1291.0
16,Kansas,Kansas,2818747.0,2477588.0,Adams Ohio,Ohio,Adams,11999.0
17,Kentucky,Kentucky,4314113.0,3686892.0,Adams Pennsylvania,Pennsylvania,Adams,47489.0
18,Louisiana,Louisiana,4492076.0,4221826.0,Adams Washington,Washington,Adams,5127.0
19,Maine,Maine,1318301.0,1227928.0,Adams Wisconsin,Wisconsin,Adams,10456.0
20,Maryland,Maryland,5699478.0,4780753.0,Addison Vermont,Vermont,Addison,19238.0
21,Massachusetts,Massachusetts,6593587.0,6016425.0,Aiken South Carolina,South Carolina,Aiken,74851.0
22,Michigan,Michigan,9969727.0,9295287.0,Aitkin Minnesota,Minnesota,Aitkin,9452.0
23,Minnesota,Minnesota,5266214.0,4375665.0,Alachua Florida,Florida,Alachua,128571.0
24,Mississippi,Mississippi,2951996.0,2575475.0,Alamance North Carolina,North Carolina,Alamance,71157.0
25,Missouri,Missouri,5987580.0,5116901.0,Alameda California,California,Alameda,654266.0
26,Montana,Montana,974989.0,799065.0,Alamosa Colorado,Colorado,Alamosa,6939.0
27,Nebraska,Nebraska,1796619.0,1578417.0,Albany New York,New York,Albany,147199.0
28,Nevada,Nevada,2643085.0,1201675.0,Albany Wyoming,Wyoming,Albany,17201.0
29,New Hampshire,New Hampshire,1324575.0,1109252.0,Albemarle Virginia,Virginia,Albemarle,56726.0
...,...,...,...,...,...,...,...,...
3173,Virginia,Fairfax city,24665.0,19945.0,NaN,NaN,NaN,NaN
3174,Virginia,Falls Church city,11957.0,9464.0,NaN,NaN,NaN,NaN
3175,Virginia,Franklin city,8814.0,8392.0,NaN,NaN,NaN,NaN
3176,Virginia,Fredericksburg city,23193.0,19033.0,NaN,NaN,NaN,NaN
3177,Virginia,Galax city,6880.0,6745.0,NaN,NaN,NaN,NaN
3178,Virginia,Hampton city,144236.0,133773.0,NaN,NaN,NaN,NaN
3179,Virginia,Harrisonburg city,45137.0,30707.0,NaN,NaN,NaN,NaN
3180,Virginia,Hopewell city,23123.0,23101.0,NaN,NaN,NaN,NaN
3181,Virginia,Lexington city,6901.0,6959.0,NaN,NaN,NaN,NaN
3182,Virginia,Lynchburg city,73933.0,66120.0,NaN,NaN,NaN,NaN
3183,Virginia,Manassas city,36514.0,27757.0,NaN,NaN,NaN,NaN
3184,Virginia,Manassas Park city,12042.0,6798.0,NaN,NaN,NaN,NaN
3185,Virginia,Martinsville city,14635.0,16162.0,NaN,NaN,NaN,NaN
3186,Virginia,Newport News city,193172.0,171477.0,NaN,NaN,NaN,NaN
3187,Virginia,Norfolk city,233333.0,261250.0,NaN,NaN,NaN,NaN
3188,Virginia,Norton city,3713.0,4247.0,NaN,NaN,NaN,NaN
3189,Virginia,Petersburg city,32986.0,37071.0,NaN,NaN,NaN,NaN
3190,Virginia,Poquoson city,11794.0,11005.0,NaN,NaN,NaN,NaN
3191,Virginia,Portsmouth city,99321.0,103910.0,NaN,NaN,NaN,NaN
3192,Virginia,Radford city,16184.0,15940.0,NaN,NaN,NaN,NaN
3193,Virginia,Richmond city,204451.0,202713.0,NaN,NaN,NaN,NaN
3194,Virginia,Roanoke city,94482.0,96487.0,NaN,NaN,NaN,NaN
3195,Virginia,Salem city,25462.0,23835.0,NaN,NaN,NaN,NaN
3196,Virginia,South Boston,NaN,NaN,NaN,NaN,NaN,NaN
3197,Virginia,Staunton city,23886.0,24581.0,NaN,NaN,NaN,NaN
3198,Virginia,Suffolk city,83659.0,52143.0,NaN,NaN,NaN,NaN
3199,Virginia,Virginia Beach city,433575.0,393089.0,NaN,NaN,NaN,NaN
3200,Virginia,Waynesboro city,22241.0,18549.0,NaN,NaN,NaN,NaN
3201,Virginia,Williamsburg city,12729.0,11600.0,NaN,NaN,NaN,NaN
3202,Virginia,Winchester city,26322.0,21947.0,NaN,NaN,NaN,NaN